section.Section.DecisionSlider
    .Wrapper.DecisionSlider__wrapper
        span(class="Separator" data-number="02")
        h2(class="Title" sub="оснащение")
        include ../../features/slider/views/SliderDecision.pug
