article.Social

    a(href="#!" class="Link") 
        img(src=require("../../../assets/image/Social/WhatsApp.png") class="Social__img" alt='WhatsApp')

    a(href="#!" class="Link") 
        img(src=require("../../../assets/image/Social/YouTube.png") class="Social__img" alt='YouTube')

    a(href="#!" class="Link") 
        img(src=require("../../../assets/image/Social/Telegram.png") class="Social__img" alt='Telegram')
