section.Section.Clients
    .Wrapper.Clients__wrapper
        span(class="Separator" data-number="06")

        //- TODO : Сделать миксином
        h2(class="Title Clients__title" data-title-sub="клиенты")
            p 
                span.Title__isTransparent >
                span.Title__isGradient 200 отзывов
            p от лиднров рынка

        ul.List.Clients__list

        //- TODO : Сделать компонентом
        //- TODO : Вообще нужно сделать стилизацию скролбара а не отдельной разметкой
        .Slider__line
            span.Slider__line__left
            span.Slider__line__accent
            span.Slider__line__right
