section.Section.Clients
    .Wrapper.Clients__wrapper

        block separator
        block title

        ul.List.Clients__list

        //- TODO : Сделать компонентом
        //- TODO : Вообще нужно сделать стилизацию скролбара а не отдельной разметкой
        .Slider__line
            span.Slider__line__left
            span.Slider__line__accent
            span.Slider__line__right
