.blur {
	backdrop-filter: blur(14px);
}

.Wrapper {
	margin-inline: auto;
	max-inline-size: 1200px;
}

.underline {
	text-decoration: underline;
}

.isBackground {
	background-color: #ffffff10;
}

.isBorder {
	border: 2px solid #ffffff10;
}
