:root {
	--gradient-accent: linear-gradient(to right, #6ddcff, #7f60f9);

	--color-text-basic: #fff;
	--color-text-secondary: #a1a1aa;
	--color-text-secondary-input: #71717a;

	--max-padding-inline: 160px;
}
