@import url(./__wrapper/FirstScrean__wrapper.css);
@import url(./__pre/FirstScrean__pre.css);
@import url(./__title/FirstScrean__title.css);
@import url(./__text/FirstScrean__text.css);
@import url(./__controller/FirstScrean__controller.css);
@import url(./__input/FirstScrean__input.css);

.FirstScrean {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: self-start;
	background: url(../../assets/image/FirstScrean/background-image-01.png) no-repeat center;
	background-size: cover;
	block-size: 100vh;
}
