@import url(./__heading/Dialog__heading.css);
@import url(./__close/Dialog__close.css);
@import url(./__prompt/Dialog__prompt.css);
@import url(./__agreement/Dialog__agreement.css);

.Dialog {
	justify-self: center;
	align-self: center;
	border: none;
	border-radius: 8px;
	padding-inline: var(--dialog-padding-size);
	padding-block: 40px;
	text-align: center;
	inline-size: 40vw;
	max-inline-size: 600px;
	min-inline-size: 360px;
}

body:has(dialog[open]) .Dialog {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 30px;
}

.Dialog::backdrop {
	backdrop-filter: blur(3px) brightness(0.8);
}
