@import url(./__controller/Screan__controller.css);
@import url(./__img/Screan__img.css);
@import url(./__input/Screan__input.css);
@import url(./__pre/Screan__pre.css);
@import url(./__text/Screan__text.css);
@import url(./__title/Screan__title.css);
@import url(./__wrapper/Screan__wrapper.css);

.Screan {
	position: relative;
	justify-content: end;
	block-size: 100vh;
}
