section.Section.Requisites
    .Wrapper.Requisites__wrapper
        h2(class="Title Requisites__title")
            p реквизиты компании
        ul.Requisites__list
            li.Requisites__item.Text
                span.Requisites__key Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                span.Requisites__value Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li.Requisites__item.Text
                span.Requisites__key Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                span.Requisites__value Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li.Requisites__item.Text
                span.Requisites__key Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                span.Requisites__value Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li.Requisites__item.Text
                span.Requisites__key Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                span.Requisites__value Lorem ipsum dolor sit amet, consectetur adipiscing elit.
