.Title {
	font-weight: 800;
	font-size: 60px;
	text-transform: uppercase;
	position: relative;
	margin-block-start: 2vh;
}

.Title::after {
	content: attr(data-title-sub);
	position: absolute;
	top: -20px;
	color: #cccccc;
	font-weight: normal;
	font-size: 16px;
	text-transform: lowercase;
}

.Title__row {
}

.Title__isPre {
	font-weight: normal;
	font-size: 24px;
}

.Title__isTransparent {
	color: transparent;
	font-weight: 700;
	text-shadow: 0px 2px #848484, -2px 2px #848484, 2px 2px #848484, 0px -2px #848484, -2px -2px #848484, 2px -2px #848484;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
	.Title__isTransparent {
		text-shadow: none;
		-webkit-text-stroke: 2px #848484;
		text-stroke: 2px #848484;
	}
}

.Title__isGradient {
	background-image: var(--gradient-accent);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
