@import url(./__img/Galery__img.css);
@import url(./__wrapper/Galery__wrapper.css);

.Galery {
	display: flex;
	column-gap: 1rem;
	border-radius: 10px;
	overflow: scroll;
}

.Galery::-webkit-scrollbar {
	display: none;
}
