section.Section.PresentMap
    .Wrapper.PresentMap__wrapper
        span(class="Separator" data-number="05")

        h2(class="Title PresentMap__title" data-title-sub="клиенты")
            p # реализуем
            p проекты
                span.Title__isGradient во всех
            p
                span.Title__isGradient регионах
                span.Title__isTransparent России

        a(href="#!" class="Link PresentMap__link")
            span.PresentMap__count 14
            p.Text.PresentMap__text регионов, где реализовали проекты

        .PresentMap__content
            .PresentMap__list
                img(src=require("../../../assets/image/maps.png"), alt='Карта России')
                span
                span
                span
                span
                span
                span
