@import url(./__wrapper/Footer__wrapper.css);
@import url(./__link/Footer__link.css);
@import url(./__link_title/Footer__link_title.css);
@import url(./__info/Footer__info.css);
@import url(./__column/Footer__column.css);
@import url(./__politics/Footer__politics.css);
@import url(./__content/Footer__content.css);


.Footer {
	display: flex;
	align-items: end;
	block-size: 100vh;
	padding-block-end: 4vh;
}

.Footer .Logo {
	padding-block-end: 3rem;
}

.Footer .Contacts {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}
