@import url(./__wrapper/Features__wrapper.css);
@import url(./__sub/Features__sub.css);
@import url(./__title/Features__title.css);
@import url(./__text/Features__text.css);
@import url(./__list/Features__list.css);
@import url(./__item/Features__item.css);
@import url(./__header/Features__header.css);

.Features {
	display: flex;
	align-items: center;
	block-size: 100vh;
}
