extends ../../base

block variables
    - var title = 'IT trader Soft - Contacts';

block content
    include ../../widgets/contactsInfo/ContactsInfo.pug
    include ../../widgets/requisites/Requisites.pug
