@import url(./__link/Crumbs__link.css);
@import url(./__link__activ/Crumbs__link__activ.css);

.Crumbs {
	display: flex;
	column-gap: 1rem;
	margin-block-end: 1rem;
	opacity: 50%;
	font-size: 16px;
}
