section.Section.Drafts
    .Wrapper.Drafts__wrapper

        //- TODO : Сделать миксином
        h2(class="Title")
            p # Проекты

        p.Text.Drafts__text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            | Ut enim ad minim veniam. Lorem ipsum dolor sit amet

        include ../../features/filters/Filters.pug

        ul.List.Drafts__list