@import url(./__wrapper/Slider__wrapper.css);
@import url(./__img/Slider__img.css);
@import url(./__content/Slider__content.css);
@import url(./__arrow/Slider__arrow.css);
@import url(./__input/Slider__input.css);
@import url(./__controller/Slider__controller.css);
@import url(./__line/Slider__line.css);
@import url(./__content_controller/Slider__content_controller.css);


.Slider {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: end;
	padding-block: 2vh;
	inline-size: 100%;
	block-size: 100%;
}
