extends ../../features/slider/Slider

block sliderImg
    img(src=require("../../../assets/image/Screan/background-image-01.png") class="Slider__img" alt='логотип')

block sliderContentTitle

block sliderContentText

block sliderContentController
