@import url(./__title/InfoBar__title.css);
@import url(./__text/InfoBar__text.css);
@import url(./__isGray/InfoBar__isGray.css);
@import url(./__isGradient/InfoBar__isGradient.css);

.InfoBar {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: end;
	border: 2px solid #2b2b2b;
	border-radius: 10px;
	padding-inline: 2rem;
	padding-block: 2rem;
	text-align: right;
	inline-size: 18rem;
	block-size: 100%;
}

.InfoBar:hover {
	color: #fff;
	background-image: var(--gradient-accent);
}

.InfoBar:hover .InfoBar__text,
.InfoBar__isGradient .InfoBar__text {
	color: #fff;
}
