section.Section.Indicators
    .Wrapper.Indicators__wrapper

        //- TODO : Сделать миксином
        h2(class="Title" data-title-sub="# ключевые цифры проекта")
        .Indicators__content

            .Indicators__column
                p.Title.Indicators__title $11M+
                p.Text.Indicators__text Lorem ipsum dolor sit amet, consec tetur adipiscing elit ges aliquam.

            .Indicators__column
                p.Title.Indicators__title 79.14%
                p.Text.Indicators__text Lorem ipsum dolor sit amet, consec tetur adipiscing elit ges aliquam.

            .Indicators__column
                p.Title.Indicators__title $299/y
                p.Text.Indicators__text Lorem ipsum dolor sit amet, consec tetur adipiscing elit ges aliquam.

            .Indicators__column
                p.Title.Indicators__title 34k+
                p.Text.Indicators__text Lorem ipsum dolor sit amet, consec tetur adipiscing elit ges aliquam.

        a(class="Link Indicators__link" href="#!") Узнать подробнее о проекте