@import url(./__wrapper/Applications__wrapper.css);
@import url(./__content/Applications__content.css);
@import url(./__title/Applications__title.css);
@import url(./__text/Applications__text.css);
@import url(./__info/Applications__info.css);

.Applications {
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: cover;
	object-position: center;
	background-image: url(../../assets/image/Applications/item-01.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
