.FormFeedback__field {
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 7px;
	padding-inline: clamp(14px, calc(23px - (600px - 40vw) / 26), 23px);
	padding-block: 18px;
	font-family: inherit;
	font-size: inherit;
	block-size: 55px;
}

.FormFeedback__field:focus {
	border-color: rgba(255, 255, 255, 0.7);
	outline: none;
}
