block screanVariables
    - var screanChildClass = '';
    - var screanChildClassContent = '';

section(class="Section Screan " + screanChildClass)
    .Wrapper.Screan__wrapper
        block screan-image
        div(class="Screan__content " + screanChildClassContent)
            block screan-content
