extends ../Clients.pug

block separator 
    span(class="Separator" data-number="06")

block title 
    h2(class="Title Clients__title")
        p # сотрудничаем только 
        p
            span.Title__isTransparent с проверенными 
            span.Title__isGradient производителями 
