extends ../Clients.pug

block separator 
    span(class="Separator" data-number="06")

block title 
    h2(class="Title Clients__title" data-title-sub="клиенты")
        p
            span.Title__isTransparent >
            span.Title__isGradient 200 отзывов
        p от лиднров рынка
