.Card__moreButton {
	justify-self: end;
	margin-block-start: 25px;
	transition: transform 0.7s;
	transform: rotate(45deg);
	block-size: 25px;
}

.Card__moreButton:hover {
	transform: rotate(90deg);
}

.Card__moreButton:hover .Card__arrow {
	stroke: #7f60f9;
}

.Card__arrow {
	stroke: #fff;
	transition: stroke 0.5s;
}
