.Filters
    p.Filters__title Фильтры по проектам
    form.Filters__controller

        select(class="Filters__selected" name="decisions" id="decisions-select" autofocus)
            option(selected) Ситуационные центры
            option Диспетчерский пункт
            option Зал совещаний
            option Конференц зал
            option Переговорная комната
            option Видеоконференцсвязь
            option Кабинет руководителя
            option Digital Signage
            option Медиафасады
            option Учебные аудитории

        select(class="Filters__selected" name="branch" id="branch-select")
            option(selected) Корпоративный сектор
            option Государственные учреждения
            option Медицинские учреждения
            option Образование и наука
            option Спортивные и фитнес центры, стадионы
            option Финансовый сектор
            option Гостиничные комплексы
            option Транспорт
            option Торговые центры
            option Клубы, бары, рестораны
            option Учреждения культуры и искусства
            option Промышленные предприятия