.Screan__link {
	padding-inline: 30px;
	padding-block: 20px;
	background-color: #1b1b1b;
	border-radius: 40px;
	text-transform: uppercase;
	transition: all 0.6s;
}

.Screan__link:hover {
	padding-inline: 50px;
	background-color: #2e2e2e;
}
