.ForWhom__rows {
	position: absolute;
	bottom: 70px;
	left: 0;
	z-index: -1;
	display: flex;
	flex-direction: column;
	row-gap: 12vh;
	opacity: 10%;
	text-transform: uppercase;
}

.ForWhom__rows .ForWhom__list {
	line-height: 80%;
	animation: animation-transform 40s linear infinite alternate;
}

.ForWhom__rows .ForWhom__list:nth-child(2) {
	animation-duration: 60s;
}

.ForWhom__rows .ForWhom__list:nth-child(3) {
	animation-duration: 80s;
}

@keyframes animation-transform {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-100vw);
	}
	100% {
		transform: translateX(0);
	}
}
