.Slider__input {
	position: relative;
	border-radius: 60px;
	padding-inline-start: 40px;
	padding-inline-end: 20px;
	outline: 1px solid var(--color-text-secondary-input);
	font-size: 14px;
	background: url(../../../../assets/svg/Search.svg) no-repeat 12px center;
	inline-size: 360px;
	padding-block: 12px;
}
