@import url(./__wrapper/ListCards__wrapper.css);
@import url(./__list/ListCards__list.css);
@import url(./__item/ListCards__item.css);
@import url(./__text/ListCards__text.css);

.ListCards {
	display: flex;
	align-items: center;
	padding-block-start: 12vh;
}
