@import url(./__title/Filters__title.css);
@import url(./__controller/Filters__controller.css);
@import url(./__selected/Filters__selected.css);

.Filters {
	margin-block: 3rem;
}

.Filters__title {
	position: relative;
	margin-block-end: 2rem;
	padding-inline-start: 2.8rem;
	font-size: 20px;
}

.Filters__title::before {
	content: url(../../assets/image/Funnel.png);
	position: absolute;
	top: -4px;
	left: 0;
	block-size: 26px;
	inline-size: 26px;
}

.Filters__controller {
	display: flex;
	gap: 1rem;
}

.Filters__selected {
	border-radius: 20px;
	padding-inline: 1.6rem 4rem;
    inline-size: max-content;
	padding-block: 1rem;
	font-size: 14px;

	background-image: url(../../assets/image/Filters__arrow.png);
	background-repeat: no-repeat;
	background-position: center right 10px;
	background-size: 25px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

option{
	padding: 0.5em;
   }
   