section.Section.Similar
    .Wrapper.Similar__wrapper

        span(class="Separator" data-number="06")

        //- TODO : Сделать миксином
        h2(class="Title Similar__title")
            p Смотрите похожие проекты

        ul.List.Similar__list