@import url(./__controller/PaymentRequest__controller.css);
@import url(./__link/PaymentRequest__link.css);

.PaymentRequest {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	border-radius: 20px;
	padding-inline: 34px;
	padding-block: 42px;
}
