.Clients__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 14px;
	margin-block: 36px;
}

.Clients__list-item {
	inline-size: 32.5%;
}

.Clients__rowList {
	flex-wrap: nowrap;
	column-gap: 14px;
	overflow: scroll;
}

.Clients__rowList::-webkit-scrollbar {
    display: none;
  }
