section.Section.ForWhom
    .Wrapper.ForWhom__wrapper
        span(class="Separator" data-number="02")

        h2(class="Title ForWhom__title" data-title-sub="для кого")
            p # имеем готовые решения
            p
                span.Title__isGradient для всех основных сфер
                span производств

        p.Text.ForWhom__text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            | aliqua. Ut enim ad minim veniam

        .ForWhom__rows
            ul(id="ForWhom__rows_one" class="List ForWhom__list Title__isTransparent")
            ul(id="ForWhom__rows_second" class="List ForWhom__list")
            ul(id="ForWhom__rows_third" class="List ForWhom__list Title__isTransparent")