section.Section.Solutions
    .Wrapper.Solutions__wrapper
        span(class="Separator" data-number="03")

        h2(id="home-solutions-title-01" class="Title Solutions__title")

        ul.List.Solutions__list

            li.Solutions__item
                p.Text.Solutions__text
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    | aliqua. Ut enim ad minim veniam

            li.Solutions__item
                a(href="#!" class="Link Solutions__link") Смотреть все услуги