button(class="ButtonVideo" name="button" type="button" autofocus)
    .ButtonVideo__content
        p.ButtonVideo__text Смотреть видео
        img(class="ButtonVideo__icon" src=require('../../../../assets/image/Button/Play.png') alt="")
        img(class="ButtonVideo__img" src=require('../../../../assets/image/Button/item-01.png') alt="")
