.Solutions__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-block-end: 20px;
	cursor: pointer;
}

.Solutions__item:nth-child(1) {
	inline-size: 20%;
}

.Solutions__item:nth-child(2) {
	order: 6;
	inline-size: auto;
}

.Solutions__item:nth-child(3),
.Solutions__item:nth-child(4) {
	inline-size: 38%;
}

.Solutions__item:nth-child(5),
.Solutions__item:nth-child(6) {
	inline-size: 38%;
}
