section.Section.Industries
    .Wrapper.Industries__wrapper

        //- TODO : Сделать миксином
        h2(class="Title Industries__title")
            p # Отрасли

        p.Text.Industries__text
            | Комплексное оснащение конференц-залов,
            | ситуационных центров, переговорных комнат, учебных центров и пр.

        ul.List.Industries__list