//- TODO: Рефактор
//- Сделать миксином

span.Crumbs
    a(class="Link Crumbs__link" href="#!") Главная
    a(class="Link Crumbs__link" href="#!") Услуги
    a(class="Link Crumbs__link" href="#!") Ситуационные центры