extends ../../base

block variables
    - var title = 'IT trader Soft - About';

block content
    include ../../widgets/conclusion/Conclusion.pug
    include ../../widgets/features/Features-five-cards.pug
    include ../../widgets/clients/views/AboutClients.pug
    include ../../widgets/licenses/Licenses.pug
    include ../../widgets/applications/Applications.pug
