extends ../../base

block variables
    - var title = 'IT trader Soft - Home';

block content
    include ../../widgets/screan/views/screanHome/ScreanHome.pug
    include ../../widgets/features/views/Features-five-cards.pug
    include ../../widgets/forWhom/ForWhom.pug
    include ../../widgets/solutions/Solutions.pug
    include ../../widgets/conclusion/Conclusion.pug
    include ../../widgets/presentMap/PresentMap.pug
    include ../../widgets/clients/views/HomeClients.pug
    include ../../widgets/licenses/Licenses.pug
    include ../../widgets/applications/Applications.pug
