extends ../../base

block variables
    - var title = 'IT trader Soft - Home';

block content
    include ../../widgets/homeScrean/HomeScrean.pug
    include ../../widgets/features/Features.pug
    include ../../widgets/forWhom/ForWhom.pug
    include ../../widgets/solutions/Solutions.pug
    include ../../widgets/conclusion/Conclusion.pug
    include ../../widgets/presentMap/PresentMap.pug
    include ../../widgets/clients/Clients.pug
    include ../../widgets/licenses/Licenses.pug
