@import url(./__wrapper/ForWhom__wrapper.css);
@import url(./__header/ForWhom__header.css);
@import url(./__sub/ForWhom__sub.css);
@import url(./__title/ForWhom__title.css);
@import url(./__text/ForWhom__text.css);
@import url(./__list/ForWhom__list.css);

.ForWhom {
	position: relative;
	display: flex;
	margin-block: 20vh;
	block-size: 60vh;
}
