section.Section.DecisionsItems
    .Wrapper.DecisionsItems__wrapper

        //- TODO : Сделать миксином
        h2(class="Title DecisionsItems__title")
            p # Готовые решения

        ul.List.DecisionsItems__list