.Licenses__list {
    display: flex;
    column-gap: 12px;
    border-radius: 10px;
    overflow: scroll;
    max-block-size: 300px;
    margin-block-start: 4vh;
}

.Licenses__list::-webkit-scrollbar {
    display: none;
  }