.Dialog__form {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
  inline-size: 100%;
  font-size: clamp(14px, calc(16px - (600px - 40vw) / 120), 16px);
}

.Dialog__form-field {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  block-size: 55px;
  padding-block: 18px;
  padding-inline: clamp(14px, calc(23px - (600px - 40vw) / 26), 23px);
  font-family: inherit;
  font-size: inherit;
}

.Dialog__form-field:focus {
  border-color: rgba(255, 255, 255, 0.7);
  outline: none;
}

.Dialog__form-button {
  block-size: 55px;
  border-radius: 7px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: inherit;
}
