@import url(./__img/SolutionStage__img.css);
@import url(./__title/SolutionStage__title.css);
@import url(./__button/SolutionStage__button.css);
@import url(./__text/SolutinStage__text.css);

.item__isBordered {
	border: 1px solid #f9f9f933;
	padding-inline: 20px;
	padding-block: 24px;
	inline-size: 24%;
}

.item__isBordered:hover {
    background: var(--gradient-accent);
}
