section.Section.Description
    .Wrapper.Description__wrapper

        //- TODO : Сделать миксином
        h2(class="Title Description__title")
            p # Выполняем комплексное оснащение ситуационных центров

        .Description__content
            .Description__column
                p.Description__text
                    | Как правило, ситуационный центр в современном исполнении представляет собой программно-мультимедийный комплекс,
                    | в состав которого входят отображающие поверхности (масштабные видеостены, LCD-панели и т.д.),
                    | множество рабочих станций операторов,
                    | мощный сервер для хранения необходимого для работы ситуационного центра программного обеспечения,
                    | концентрации оперативных данных, аналитические инструменты.

            .Description__column
                p.Description__text
                    | Как правило, ситуационный центр в современном исполнении представляет собой программно-мультимедийный комплекс,
                    | в состав которого входят отображающие поверхности (масштабные видеостены, LCD-панели и т.д.),
                    | множество рабочих станций операторов,
                    | мощный сервер для хранения необходимого для работы ситуационного центра программного обеспечения,
                    | концентрации оперативных данных, аналитические инструменты.
