@import url(./__num/Stage__num.css);
@import url(./__title/Stage__title.css);
@import url(./__text/Stage__text.css);
@import url(./__isNormal/Stage__isNormal.css);
@import url(./__isGrey/Stage__isGrey.css);

.Stage {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: end;
	border: 2px solid #2b2b2b;
	border-radius: 10px;
	padding-inline-start: 12px;
	padding-block-end: 22px;
	block-size: 252px;
}

.Stage:hover {
	border: 2px solid #2b2b2b !important;
	background: var(--gradient-accent);
}

.Stage:hover .Stage__num,
.Stage:hover .Stage__text {
	opacity: 100%;
}
