extends ../../base

block variables
    - var title = 'IT trader Soft - Decision';

block content
    include ../../widgets/decisionScrean/DecisionScrean.pug
    include ../../widgets/features/Features-five-cards.pug
    include ../../widgets/description/Description.pug
    include ../../widgets/clients/views/DecisionClients.pug
    include ../../widgets/similar/Similar.pug
    include ../../widgets/features/Features-six-cards.pug
    include ../../widgets/applications/Applications.pug
