@import url(./__img/Section__img.css);
@import url(./__title/Section__title.css);

.Section {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
