@import url(./__moreButton/Card__moreButton.css);
@import url(./__wrapper/Card__wrapper.css);
@import url(./__wrapper/CardList__wrapper.css);

.Card {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #191919;
	padding-block-end: 18px;
	filter: saturate(0);
	transition: filter 0.5s;
	inline-size: 50%;
}

.Card:hover {
	filter: saturate(1.2);
}

.Card__image {
	border-radius: 10px;
	object-fit: cover;
	object-position: center;
	overflow: hidden;
	max-block-size: 500px;
	block-size: 100%;
	inline-size: 100%;
}

.Card__name {
	margin-block-start: 24px;
	margin-block-end: 10px;
	font-weight: 600;
	font-size: 24px;
}

.Card__description {
	opacity: 50%;
	inline-size: 67%;
}
