.Button {
	border: none;
	border-radius: 60px;
	padding-inline: 26px;
	padding-block: 12px;
	color: inherit;
	background: none;
}

.Button__isBackground {
	background: var(--gradient-accent);
}

.Button__isBorder {
	position: relative;
}

.Button__isWhite {
	border: 2px solid white;
	border-radius: 10px;
	color: white;
}

.Button__isNormal {
	border-radius: 10px;
	background: var(--gradient-accent);
	inline-size: 100%;
}

.Button__isBorder::before {
	content: '';
	position: absolute;
	inset: 0;
	border: 1px solid transparent;
	border-radius: inherit;
	background: var(--gradient-accent) border-box;
	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
}

.ButtonVideo {
	overflow: hidden;
	border: 1px solid #ffffff20;
	inline-size: max-content;
	border-radius: 20px;
}

.ButtonVideo__content {
	padding-inline-start: 30px;
	display: flex;
	position: relative;
	align-items: center;
}

.ButtonVideo__text {
	margin-inline-end: 10px;
}
