.Crumbs__link {
	border-bottom: 2px solid transparent;
	transition: all 0.4s;
}

.Crumbs__link:hover {
	border-bottom: 2px solid currentColor;
}

.Crumbs__link:not(:last-child):after {
	content: '-';
	margin-inline-start: 10px;
}