extends ../../base

block variables
    - var title = 'IT trader Soft - Project';

block content
    include ../../widgets/projectScrean/ProjectScrean.pug
    include ../../widgets/indicators/Indicators.pug
    include ../../widgets/projectSlider/ProjectSlider.pug
    include ../../widgets/applications/Applications.pug
    include ../../widgets/similar/Similar.pug
